<h2>All Workouts</h2>
<%# This section is for the table layout and organizing it%>
<table class="list">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Reps</th>
      <th>Weight (kg)</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(workout => { %>
      <tr>
        <td><%= workout.exercise %></td>
        <td><%= workout.reps %></td>
        <td><%= workout.weight %></td>
        <td><a href="/workouts/<%= workout._id %>/edit">Edit</a></td>
        <td>
          <form action="/workouts/<%= workout._id %>/delete" method="POST" onsubmit="return confirm('Are you sure?');">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
